*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1e1f26;
    overflow: auto;
}

header {
  position: relative;
  width: 100%;
  height: 70px;
  background: rgb(8, 9, 19);
  color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 4%;
  width: 20%;
}
.brand .fa-github {
  font-size: 35px;
}
.brand h1 {
  margin-left: 5%;
}
.navbar {
  position: relative;
  width: 70%;
  padding: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchBox {
  position: relative;
  width: 60%;
  display: flex;
  align-items: center;
}
.searchBox input {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 8px;
  padding: 1%;
  text-indent: 10px;
  font-size: 18px;
}
#searchIcon {
  position: relative;
  left: -30px;
  font-size: 22px;
  color: rgb(77, 77, 77);
  cursor: pointer;
  z-index: 221;
}
ul {
  width: 60%;
  text-align: center;
}
ul li {
  display: inline-block;
  margin-left: 4%;
  transition: all 0.5s ease;
  text-align: center;
  cursor: pointer;
  padding: 1%;
  height: 20px;
  overflow: hidden;
}
ul li:hover {
  height: 45px;
}
ul li #headIcon {
  display: block;
  font-size: 22px;
}
ul li a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}
ul li a:active,
:focus {
  text-decoration: underline;
  font-weight: 700;
}
#menuIcon {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    position: relative;
    display: block;
    width: 60%;
    display: none;
  }
  .navbar.navactive {
    display: inline;
  }
  .searchBox {
    position: relative;
    width: 100%;
    top: 60px;
    z-index: 221;
    left: 5%;
  }
  #menuIcon {
    display: inline;
    position: fixed;
    font-size: 25px;
    margin-left: 88%;
    z-index: 222;
    float: right;
    padding: 1%;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgb(221, 221, 221);
  }
  .navbar ul {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(8, 9, 19);
  }
  .navbar ul li {
    display: block;
    margin-top: 20px;
    width: 100%;
    height: 40px;
    text-align: left;
    position: relative;
    top: 50px;
    padding: 2%;
  }
  ul li #headIcon {
    display: inline-block;
    font-size: 33px;
  }
  ul li:hover {
    background: rgb(35, 36, 51);
  }
  ul li a {
    margin-left: 40px;
    font-family: 600;
  }
}

.user{
    cursor: pointer;
    color: red;
    margin-top: 40px;
    margin-right: 40px;
}
.banner-card{
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    /*left: 20px;*/
    padding-left: 20px;
}

.banner-card img{
    max-width: 1000px;
    height: 100%;
    border-radius: 15px 50px 30px 20px;
}

.banner-card:hover .banner-text{
    left: 0;
}

.banner-text{
    color: white;
    position: absolute;
    top: 0;
    padding: 120px;
    left: -200%;
    transition: .7s;
    backdrop-filter: blur(4px);
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 16px;
}

.banner-text h4{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.rating {
    display: inline-block;
    font-size: 0;
    position: relative;
    text-transform: capitalize;
    padding: 0 20px 8%;
    color: gray;
}
    
label{
    float: right;
    padding: 0;
    font-size: 35px;
    cursor: pointer;
}   

label::before{
    content: "\2606";
    padding-bottom: 8px;
    display: inline-block;
    transition: 0.2s;
} 

span{
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 90px;
    font-size: 1rem;
    white-space: nowrap;
    transition: 0.15s ease-out;
    pointer-events: none;
    letter-spacing: -2px;
    transform: translateY(-50%);
} 

label:hover span{
    opacity: 1;
    transform: none;
    letter-spacing: 0;
}

input:checked ~ label::before{
    content: "\2605";
    color: orange;
    filter: drop-shadow(0 0 4px);
    transform: rotate(.2turn);
    transition-delay: calc(0.1 * attr(data-idx integer));
}

button{
  position: relative;
	padding: 16px;
	background-color: rgb(75, 75, 75);
  color: rgb(0, 0, 0);
	border-radius: 16px;
	top: 200px;
	left: 600px;
	width: 100px;
  font-size: 15px;
}

